<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Solution3.Module.Properties.Settings.organizationConnectionString"
            connectionString="Data Source=FEDOTISK\SQLEXPRESS;Initial Catalog=organization;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>